<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yijiayifeng.mapper.DatePriceMapper">
    <!--通过日期和房型查询库里的数据-->
    <select id="selectByPrice" resultType="DateTime">
        select * from datetime where date=#{date} and room_name=#{room_name} and kind=#{kind}
    </select>
    <!--修改房间价格-->
    <update id="updatePrice" parameterType="DateTime">
        update datetime set price=#{price}
        where room_name=#{room_name} and admin_id=#{admin_id} and kind=#{kind} and date=#{date}
    </update>
</mapper>

